*, html, body{ margin: 0; padding: 0;}
h1{
    text-align: center;
}

h2{
    padding-top: 35px;
    text-align: center;
    text-decoration-line: underline;
}

h4{
    
    text-align: right;
    text-decoration-line: underline;
    font-size: 30px;
    font-weight: 600;
}

h3{
    padding-top: 15px;
    padding-left: 10px;
    text-decoration-line: underline;
}
h5{
    padding-top: 26px;
    padding-left: 10px;
}

h6{
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
    text-decoration-line: underline;
}

p{
    text-indent: 120px;
    padding-bottom: 14px;
}
